<nav class="navbar navbar-expand-lg bg-body-tertiary "data-bs-theme="dark">
  <div class="container-fluid">
    <a id="tituloNav"class="navbar-brand" routerLink=""
      routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="capital" routerLinkActive="active">Capital</a>
        <a class="nav-link" routerLink="about" routerLinkActive="active">Pais</a>
        <a class="nav-link" routerLink="region" routerLinkActive="active">Region</a>
      </div>
    </div>
  </div>
</nav>
