<nav class="navbar navbar-expand-lg bg-body-tertiary "data-bs-theme="dark">
  <div class="container-fluid">
    <a id="tituloNav"class="navbar-brand">TuBuscadorDeConfianza</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="countries/by-capital" routerLinkActive="active">Capital</a>
        <a class="nav-link" routerLink="countries/by-country" routerLinkActive="active">País</a>
        <a class="nav-link" routerLink="countries/by-region" routerLinkActive="active">Región</a>
      </div>
    </div>
  </div>
</nav>
